<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.1" targetFramework="win" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="win81" />
  <package id="Orienteer" version="1.0.10" targetFramework="win81" />
  <package id="Orienteer.Autofac" version="1.0.10" targetFramework="win81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="win81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="win81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="win81" />
  <package id="Rx-Main" version="2.2.5" targetFramework="win81" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="win81" />
  <package id="Serilog" version="1.4.1" targetFramework="win81" />
  <package id="Slew.PresentationBus" version="1.0.4" targetFramework="win81" />
</packages>